<ul class="SideNavigation border list-unstyled w-25">
    <li class="SideNavigation__item p-3 border-bottom">
        <%= link_to "アカウント", :users_account %>
    </li>
    <li class="SideNavigation__item p-3">
        <%= link_to "プロフィール", :users_profile %>
    </li>
</ul>